{% include "navbar.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SemPrul | Top IMDb 2006 - 2016 Movies</title>

    <!-- favicon -->
    <!-- <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"> -->

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- CSS File -->
    <link rel="stylesheet" href="{% static 'movie_detail_style.css' %}">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                    <div class="main-body">
                            <div class="col-md-8">
                              <div class="card mb-3">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Title</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                      {{ title }}
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Description</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                      {{ description }}
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Director</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ director }}
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Rating</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ rating }} / 10
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Genre</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ genre }}
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Actors</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {% for actor in actors %}
                                        <span><a href="{{ actor.dbpediaActor }}">{{actor.name}}</a>, </span>
                                            {% if dbpediaActor %}
                                              <span><a href="{{ actor.dbpediaActor }}">{{actor.name}}</a>, </span>
                                            {% else %}
                                            <div class="col-sm-9 text-secondary">
                                              {{ actor.name }}
                                          </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Year</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ year }}
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Runtime</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ runtime }} minutes
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Votes</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ votes }}
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Rank</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ rank }}
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0">Revenue </h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ revenue }} million
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>
