{% include "homepage.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SemPrul | Top IMDb 2006 - 2016 Movies</title>

    <!-- favicon -->
    <!-- <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"> -->

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- CSS File -->
    <link rel="stylesheet" href="{% static 'movie_search_style.css' %}">

</head>

<body>
    <div id="search-result" class="row pb-3">
        <div class="col-lg-9 mx-auto text-white text-center">
          <h1 class="display-6">Search Result</h1>
        </div>
    </div>
    <div class="container">
        <div class="card col-lg-8 mx-auto">
            {% for movie in movies %}
            <div class="pointer-cursor pb-3" onclick="location.href='{{movie.id}}';">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <div class="d-flex flex-column">
                        <span> {{movie.title}} </span>
                        <div class="d-flex flex-row align-items-center time-text">
                            <span>by: {{movie.director}} </span>
                            <span class="dots"></span>
                            <span> {{movie.genre}} </span>                   
                        </div>
                        </div>
                    </div>
                    <span class="shadow content-text-1"> {{movie.rating}} </span>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
</body>

</html>
