asgiref
Django
pytz
sqlparse
whitenoise
astroid
certifi
chardet
colorama
coverage
dj-database-url
django-environ
gunicorn
idna
isort
lazy-object-proxy
mccabe
psycopg2
pylint
requests
selenium
six
SPARQLWrapper
typed-ast
urllib3
wrapt